The Pandas I/O API is a set of top level reader functions accessed like pd.read_csv() that generally return a Pandas object.

In [4]:
import pandas as pd 
df = pd.read_csv("data/educ_figdp_1_Data.csv")
print(df)

     TIME                            GEO  \
0    2000  European Union (28 countries)
1    2001  European Union (28 countries)
2    2002  European Union (28 countries)
3    2003  European Union (28 countries)
4    2004  European Union (28 countries)
5    2005  European Union (28 countries)
6    2006  European Union (28 countries)
7    2007  European Union (28 countries)
8    2008  European Union (28 countries)
9    2009  European Union (28 countries)
10   2010  European Union (28 countries)
11   2011  European Union (28 countries)
12   2000  European Union (27 countries)
13   2001  European Union (27 countries)
14   2002  European Union (27 countries)
15   2003  European Union (27 countries)
16   2004  European Union (27 countries)
17   2005  European Union (27 countries)
18   2006  European Union (27 countries)
19   2007  European Union (27 countries)
20   2008  European Union (27 countries)
21   2009  European Union (27 countries)
22   2010  European Union (27 countries)
23   2011  European Union (27 countries)
24   2000  European Union (25 countries)
25   2001  European Union (25 countries)
26   2002  European Union (25 countries)
27   2003  European Union (25 countries)
28   2004  European Union (25 countries)
29   2005  European Union (25 countries)
..    ...                            ...
354  2006                       Slovenia
355  2007                       Slovenia
356  2008                       Slovenia
357  2009                       Slovenia
358  2010                       Slovenia
359  2011                       Slovenia
360  2000                       Slovakia
361  2001                       Slovakia
362  2002                       Slovakia
363  2003                       Slovakia
364  2004                       Slovakia
365  2005                       Slovakia
366  2006                       Slovakia
367  2007                       Slovakia
368  2008                       Slovakia
369  2009                       Slovakia
370  2010                       Slovakia
371  2011                       Slovakia
372  2000                        Finland
373  2001                        Finland
374  2002                        Finland
375  2003                        Finland
376  2004                        Finland
377  2005                        Finland
378  2006                        Finland
379  2007                        Finland
380  2008                        Finland
381  2009                        Finland
382  2010                        Finland
383  2011                        Finland

                                              INDIC_ED Value  \
0    Total public expenditure on education as % of ...     :
1    Total public expenditure on education as % of ...     :
2    Total public expenditure on education as % of ...  5.00
3    Total public expenditure on education as % of ...  5.03
4    Total public expenditure on education as % of ...  4.95
5    Total public expenditure on education as % of ...  4.92
6    Total public expenditure on education as % of ...  4.91
7    Total public expenditure on education as % of ...  4.92
8    Total public expenditure on education as % of ...  5.04
9    Total public expenditure on education as % of ...  5.38
10   Total public expenditure on education as % of ...  5.41
11   Total public expenditure on education as % of ...  5.25
12   Total public expenditure on education as % of ...  4.91
13   Total public expenditure on education as % of ...  4.99
14   Total public expenditure on education as % of ...  5.00
15   Total public expenditure on education as % of ...  5.04
16   Total public expenditure on education as % of ...  4.95
17   Total public expenditure on education as % of ...  4.92
18   Total public expenditure on education as % of ...  4.91
19   Total public expenditure on education as % of ...  4.93
20   Total public expenditure on education as % of ...  5.04
21   Total public expenditure on education as % of ...  5.38
22   Total public expenditure on education as % of ...  5.41
23   Total public expenditure on education as % of ...  5.25
24   Total public expenditure on education as % of ...  4.94
25   Total public expenditure on education as % of ...  5.02
26   Total public expenditure on education as % of ...  5.03
27   Total public expenditure on education as % of ...  5.06
28   Total public expenditure on education as % of ...  4.98
29   Total public expenditure on education as % of ...  4.95
..                                                 ...   ...
354  Total public expenditure on education as % of ...  5.72
355  Total public expenditure on education as % of ...  5.15
356  Total public expenditure on education as % of ...  5.20
357  Total public expenditure on education as % of ...  5.69
358  Total public expenditure on education as % of ...  5.68
359  Total public expenditure on education as % of ...  5.68
360  Total public expenditure on education as % of ...  3.92
361  Total public expenditure on education as % of ...  3.99
362  Total public expenditure on education as % of ...  4.31
363  Total public expenditure on education as % of ...  4.30
364  Total public expenditure on education as % of ...  4.19
365  Total public expenditure on education as % of ...  3.85
366  Total public expenditure on education as % of ...  3.80
367  Total public expenditure on education as % of ...  3.62
368  Total public expenditure on education as % of ...  3.61
369  Total public expenditure on education as % of ...  4.09
370  Total public expenditure on education as % of ...  4.22
371  Total public expenditure on education as % of ...  4.06
372  Total public expenditure on education as % of ...  5.89
373  Total public expenditure on education as % of ...  6.06
374  Total public expenditure on education as % of ...  6.22
375  Total public expenditure on education as % of ...  6.43
376  Total public expenditure on education as % of ...  6.42
377  Total public expenditure on education as % of ...  6.30
378  Total public expenditure on education as % of ...  6.18
379  Total public expenditure on education as % of ...  5.90
380  Total public expenditure on education as % of ...  6.10
381  Total public expenditure on education as % of ...  6.81
382  Total public expenditure on education as % of ...  6.85
383  Total public expenditure on education as % of ...  6.76

    Flag and Footnotes
0                  NaN
1                  NaN
2                    e
3                    e
4                    e
5                    e
6                    e
7                    e
8                    e
9                    e
10                   e
11                   e
12                   s
13                   s
14                   e
15                   e
16                   e
17                   e
18                   e
19                   e
20                   e
21                   e
22                   e
23                   e
24                   s
25                   s
26                   e
27                   e
28                   e
29                   e
..                 ...
354                NaN
355                NaN
356                NaN
357                NaN
358                NaN
359                NaN
360                  i
361                  d
362                  d
363                  d
364                  d
365                  d
366                  d
367                  d
368                  d
369                  d
370                  d
371                  d
372                NaN
373                NaN
374                NaN
375                NaN
376                NaN
377                NaN
378                NaN
379                NaN
380                NaN
381                NaN
382                NaN
383                NaN

[384 rows x 5 columns]

Indexing and selecting : Indexing in pandas means simply selecting particular rows and columns of data from a DataFrame. Indexing could mean selecting all the rows and some of the columns, some of the rows and all of the columns, or some of each of the rows and columns. Indexing can also be known as Subset Selection.

In [6]:
s = df['GEO']
print(s)

0      European Union (28 countries)
1      European Union (28 countries)
2      European Union (28 countries)
3      European Union (28 countries)
4      European Union (28 countries)
5      European Union (28 countries)
6      European Union (28 countries)
7      European Union (28 countries)
8      European Union (28 countries)
9      European Union (28 countries)
10     European Union (28 countries)
11     European Union (28 countries)
12     European Union (27 countries)
13     European Union (27 countries)
14     European Union (27 countries)
15     European Union (27 countries)
16     European Union (27 countries)
17     European Union (27 countries)
18     European Union (27 countries)
19     European Union (27 countries)
20     European Union (27 countries)
21     European Union (27 countries)
22     European Union (27 countries)
23     European Union (27 countries)
24     European Union (25 countries)
25     European Union (25 countries)
26     European Union (25 countries)
27     European Union (25 countries)
28     European Union (25 countries)
29     European Union (25 countries)
                   ...
354                         Slovenia
355                         Slovenia
356                         Slovenia
357                         Slovenia
358                         Slovenia
359                         Slovenia
360                         Slovakia
361                         Slovakia
362                         Slovakia
363                         Slovakia
364                         Slovakia
365                         Slovakia
366                         Slovakia
367                         Slovakia
368                         Slovakia
369                         Slovakia
370                         Slovakia
371                         Slovakia
372                          Finland
373                          Finland
374                          Finland
375                          Finland
376                          Finland
377                          Finland
378                          Finland
379                          Finland
380                          Finland
381                          Finland
382                          Finland
383                          Finland
Name: GEO, Length: 384, dtype: object

In [7]:
print(s[254])

Luxembourg

You can pass a list of columns to [] to select columns in that order. If a column is not contained in the DataFrame, an exception will be raised. Multiple columns can also be set in this manner:

In [9]:
print(df[["GEO","Value"]])

                               GEO Value
0    European Union (28 countries)     :
1    European Union (28 countries)     :
2    European Union (28 countries)  5.00
3    European Union (28 countries)  5.03
4    European Union (28 countries)  4.95
5    European Union (28 countries)  4.92
6    European Union (28 countries)  4.91
7    European Union (28 countries)  4.92
8    European Union (28 countries)  5.04
9    European Union (28 countries)  5.38
10   European Union (28 countries)  5.41
11   European Union (28 countries)  5.25
12   European Union (27 countries)  4.91
13   European Union (27 countries)  4.99
14   European Union (27 countries)  5.00
15   European Union (27 countries)  5.04
16   European Union (27 countries)  4.95
17   European Union (27 countries)  4.92
18   European Union (27 countries)  4.91
19   European Union (27 countries)  4.93
20   European Union (27 countries)  5.04
21   European Union (27 countries)  5.38
22   European Union (27 countries)  5.41
23   European Union (27 countries)  5.25
24   European Union (25 countries)  4.94
25   European Union (25 countries)  5.02
26   European Union (25 countries)  5.03
27   European Union (25 countries)  5.06
28   European Union (25 countries)  4.98
29   European Union (25 countries)  4.95
..                             ...   ...
354                       Slovenia  5.72
355                       Slovenia  5.15
356                       Slovenia  5.20
357                       Slovenia  5.69
358                       Slovenia  5.68
359                       Slovenia  5.68
360                       Slovakia  3.92
361                       Slovakia  3.99
362                       Slovakia  4.31
363                       Slovakia  4.30
364                       Slovakia  4.19
365                       Slovakia  3.85
366                       Slovakia  3.80
367                       Slovakia  3.62
368                       Slovakia  3.61
369                       Slovakia  4.09
370                       Slovakia  4.22
371                       Slovakia  4.06
372                        Finland  5.89
373                        Finland  6.06
374                        Finland  6.22
375                        Finland  6.43
376                        Finland  6.42
377                        Finland  6.30
378                        Finland  6.18
379                        Finland  5.90
380                        Finland  6.10
381                        Finland  6.81
382                        Finland  6.85
383                        Finland  6.76

[384 rows x 2 columns]

Pandas provide a unique method to retrieve rows from a Data frame. Dataframe.iloc[] method is used when the index label of a data frame is something other than numeric series of 0, 1, 2, 3….n or in case the user doesn’t know the index label. Rows can be extracted using an imaginary index position which isn’t visible in the data frame

In [18]:
t = df[["GEO","Value"]]
print(t.iloc[[2]])

                             GEO Value
2  European Union (28 countries)  5.00

You can also assign a dict to a row of a DataFrame:

In [23]:
df.iloc[3] = {'GEO':"Hong Kong",'Value':9.00,'INDIC_ED':"New value","TIME":2020,"Flag and Footnotes":"New FootNotes"}
print(df.iloc[[3]])

   TIME        GEO   INDIC_ED Value Flag and Footnotes
3  2020  Hong Kong  New value     9      New FootNotes